body{
    background-color: white;
}
.search-container{
    margin-top: 10%;
}
.select-filter{
    justify-content: center;
    align-items: center;
    border-radius: 2px !important;
}
.select-filter .ant-select-selector{
    background: #1890ff !important;
    color: white !important;
    height: 40px !important;
    padding-top: 5px !important;
    border-radius: 5px !important;
    box-shadow: none !important;
   
  
}
.select-filter .ant-select-selector span{
    color: white !important;
}

.select-filter .ant-select-arrow{
    color: white;
    top: 50%;
}

.searc-input-head span input:focus{
  box-shadow: none !important;
}
.searc-input-head span input{
    height: 40px !important;
    margin-left: 5px ;
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
}
.searc-input-head span span button{
    height: 40px !important;
}
.card-employe{
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.17);
border-radius: 15px;
margin-top: 15px;
}
.card-employe-head{
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
   
}
.card-employe-head .active-label{
    border-radius: 8px;
   
}
.card-employe .content{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;

}

.card-employe-first-letter{
    width: 50px;
    border-radius: 50%;
    height: 50px;
    background: #FFD8BF;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    
}
.card-employe-name-us{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.card-employe-footer{
    display: flex;
    justify-content: flex-end;
}
.card-employe-btn-edit{
    background: #1890ff !important;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;



}
.card-employe-btn-edit img {
width: 25px;
height: 25px;

}
.actions-container{
    margin-top: 30px;
    margin-bottom: 30px;
   
}
.text-center{
    text-align: center;
}
.add-employe-header-content{
    padding-top: 30px;
    padding-bottom: 30px;
}
.view-add-employe-content{
    padding-bottom: 50px;
}

.pagination-container{
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.card-employe-drop-content {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.card-employe-drop-content img{
width: 32px;
height: 32px;
}